body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Sidebar */
.ant-layout-sider-children {
  height: 100vh !important;
}

/* Toggle Logo */
.ant-layout-header span svg {
  height: 25px !important;
  width: 25px !important;
  margin-left: 10px;
}

.demo-logo-vertical{
  color: white;
  text-align: center;
  font-size: 18px;
}